/* AboutMe.css */

.About {
  background-color: #ffffff;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; /* Add position relative to the parent */
  background-image: url('../assets/Programming-amico.webp'); /* Set the image as background */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: contain; /* Adjust image size to contain within the div */
  background-position: calc(70% + 100px) center; /* Move the image more to the right */
  margin-top: 2%;
  padding: 0 20px;
  animation: bounce 2s;
  
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-50px); }
  60% { transform: translateY(-20px); }
}


.About h1 {
  color: #282828;
  text-shadow: 0 0 3px #000000, 0 0 5px #ffffff;
  text-align: left; /* Align text to the left */
}

.About h4 {
  color: #282828;
  text-align: left; /* Align text to the left */
}

.content {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the start (left) */
  max-width: 1000px; /* Limit width for better readability */
  padding-right: 20px;
}

.text {
  color: #282828; /* Text color */
  width: 80%; /* Set width for the text */
  padding-right: 20%;
  margin-left: 10%; /* Adjust margin for left alignment */
}


.text h1,
.text h4 {
  margin-top: 0; /* Remove default margin */
  margin-bottom: 15px; /* Add spacing between headings */
}

/* Tablet View */
@media (max-width: 1024px) {
  .About {
    padding: 0 50px; /* Add more padding at left and right */
  }

  .text{
    margin-left: 5%; /* Adjust margin for left alignment */
  }

}
/* Mobile View */
@media (max-width: 768px) {
  .About {
    flex-direction: column-reverse; /* Reverse the order of flex items */
    align-items: center; /* Align items to the center */
    padding: 0 30px; /* Add more padding at left and right */
    background-image: url('../assets/Programming-amico.webp'); /* Set the image as background */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-size: contain; /* Adjust image size to contain within the div */
    background-position: center calc(70px); 
    animation: bounce 2s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  60% { transform: translateY(-10px); }
}


  .image {
    width: 100%; /* Set width to 100% */
    margin: 0; /* Remove margin */
  }

  .text {
    width: 100%; /* Set width to 100% */
    margin-top: 20px; /* Add margin to separate text from image */
    padding-right: 0; /* Remove padding */
    text-align: center;
  }

  .text > h4 {
    margin-top: 355px;
  }

  
}
