.footer {
    background-color: #282828;
    color: #fff;
    padding: 20px;
  }
  
  .footer-nav {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    text-decoration: none;
  }
  
  .footer-links a {
    font-size: 20px;
    font-weight: bold;
    color: inherit;
    text-decoration: none; 
  }

  .footer-links a:hover {
    font-weight: bold;
    color: #19747E;
    text-decoration: none; 
  }

  .footer-links li {
    margin-right: 50px; /* Adjust the value to create the desired space */
  }
  
  .footer-links li:last-child {
    margin-right: 0; /* Remove the margin from the last item */
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .social-media a {
    color: #A9D6E5;
    margin: 0 10px;
    font-size: 30px;
  }

  .copyright{
    display: flex;
    justify-content: center;
  }

  .Footer_moto {
    position: relative;
    justify-content: center;
    text-align: center;
    font-style: italic;
  }
  
  .Footer_moto::before,
  .Footer_moto::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #00d3f8; /* Adjust color as needed */
  }
  
  .Footer_moto::before {
    left: 12%;
    width: 15%; /* Adjust the length of lines before and after text */
  }
  
  .Footer_moto::after {
    right: 12%;
    width: 15%; /* Adjust the length of lines before and after text */
  }
  
  
/*tablet view*/

@media screen and (max-width: 1024px) {
  .Footer_moto::before {
    left: 0%;
    width: 10%; /* Adjust the length of lines before and after text */
  }
  
  .Footer_moto::after {
    right: 0%;
    width: 10%; /* Adjust the length of lines before and after text */
  }

  .Footer_moto{
    font-style: italic;
  }
}

/*mobile view*/
  @media (max-width: 767px) {
    .footer-links li {
      margin-right: 30px; 
    }

    .Footer_moto{
      font-style: italic;
    }

    .Footer_moto::before,
    .Footer_moto::after{
      display: none;
    }
  }

  @media screen and (max-width: 480px) {
    .Footer_moto::before,
    .Footer_moto::after {
      width: 40%; /* Adjust the length of lines before and after text for phone screens */
      left: 5%;
      right: 5%;
    }
  }